{{> head }}
<body >
    
{{> navbaradmin }}
    <div class="jumbotron">
        <h1 class="display-4">USUARIO ADMINISTRADOR </h1>
        <p class="lead">Usuario Administrador validado
            <ul class="navbar-nav mr-auto">
                Aca llegamos, el usuario que solicita tiene el rol: {{role}} </p>




        <hr class="my-4">
        <p>Simplemente Industrial 4.0 en las estructuras de las antenas de tu planta externa.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Leer más</a>
    </div>
{{> footer}}