{{> head }}
{{> navbar }}
    <div class="jumbotron">
        <h1 class="display-4">Bienvenido a escuela de profetas!!</h1>
        <h2 class="display-4" align ='right'> Versión 1.2</h2>
        <p class="lead">Hasta los confines de la tierra
            <ul class="navbar-nav mr-auto">
               Esta es la página principal del sistema de análisis simplificado para pivotear sobre el inventario de antenas en una torre y obtener un resultado preliminar que permita observar la factibilidad de los cambios de forma rápida.</p>
        <hr class="my-4">
        <p>Simplemente Industrial 4.0 en las estructuras de las antenas de tu planta externa.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Leer más</a>
    </div>
{{> footer}}