
{{> head }}
 <body>
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>
            La fase I de nuestro software estructural se enfoca en realizar un cálculo simplificador para evaluar, a partir de un análisis previo ( estudio según tnxTowell antecedente), como quedarían los Factores de utilización tras solicitudes adicionales.
        </h1>
    </div>

    <div class="col-4">
        <img src="assets/img/banner.jpg" class= "img-thumbnail">
    </div>
</div>

{{> footer}}