{{> head }}
{{> navbarusuario }}

    <div class="jumbotron">
        <h1 class="display-4">RESULTADOS Torre AUTOSOPORTADA </h1>
        <p class="lead">Resultados de estudio de torre autosoportada
            <ul class="navbar-nav mr-auto">
                Estos son los resultados</p>
                <div class="container mt-5">
  <div class="row">
    <div class="col-md-5">
      <div class="card-body">
          <p>Aquí es donde debo publicar los resultados del análisis para autosoportada, {{fuCantonero}}</p>
      </div>
    </div>
  </div>
</div>



        <hr class="my-4">
        <p>Simplemente Industrial 4.0 en las estructuras de las antenas de tu planta externa.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Leer más</a>
    </div>
{{> footer}}